In [33]:
%matplotlib inline

from pathlib import Path

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
pwd

'/mnt/c/Users/rpco/Desktop/DSR/DSR/python'

In [35]:
# Load Training Values
train_values = pd.read_csv('train_values.csv', index_col='building_id')

# Load Training Labels
train_labels = pd.read_csv('train_labels.csv', index_col='building_id')

# Load Test Values
test_values = pd.read_csv('test_values.csv', index_col='building_id')

# Load Submission Format
#submission_format = pd.read_csv('submission_format.csv', index_col='building_id')

In [36]:
train_values

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
28830,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,0
94947,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
590882,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
201944,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688636,25,1335,1621,1,55,6,3,n,r,n,...,0,0,0,0,0,0,0,0,0,0
669485,17,715,2060,2,0,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
602512,17,51,8163,3,55,6,7,t,r,q,...,0,0,0,0,0,0,0,0,0,0
151409,26,39,1851,2,10,14,6,t,r,x,...,0,0,0,0,0,0,0,0,0,0
747594,21,9,9101,3,10,7,6,n,r,n,...,0,0,0,0,0,0,0,0,0,0

In [37]:
train_values.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
28830,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,0
94947,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
590882,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
201944,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,0

In [38]:
train_labels.head()

             damage_grade
building_id
802906                  3
28830                   2
94947                   3
590882                  2
201944                  3

In [39]:
# Perform one-hot encoding on categorical variables
train_values_encoded = pd.get_dummies(train_values)

# Display the first few rows of the encoded dataset
train_values_encoded.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,plan_configuration_m,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,1,1,0,...,False,False,False,False,False,False,False,False,True,False
28830,8,900,2812,2,10,8,7,0,1,0,...,False,False,False,False,False,False,False,False,True,False
94947,21,363,8973,2,10,5,5,0,1,0,...,False,False,False,False,False,False,False,False,True,False
590882,22,418,10694,2,10,6,5,0,1,0,...,False,False,False,False,False,False,False,False,True,False
201944,11,131,1488,3,30,8,9,1,0,0,...,False,False,False,False,False,False,False,False,True,False

In [40]:
# Import necessary libraries
from sklearn.ensemble import RandomForestClassifier

# Create the Random Forest classifier
model = RandomForestClassifier(random_state=2018)

# Train the model on the pre-processed data
model.fit(train_values_encoded, train_labels.values.ravel())

RandomForestClassifier(random_state=2018)

In [41]:
# Load the test dataset
test_values = pd.read_csv('test_values.csv', index_col='building_id')

# Perform one-hot encoding on categorical variables for the test dataset
test_values_encoded = pd.get_dummies(test_values)

# Make predictions using the trained model
predictions = model.predict(test_values_encoded)

# Display the predictions
predictions

array([2, 2, 2, ..., 2, 2, 2])

In [42]:
# Load the submission format
submission_format = pd.read_csv('submission_format.csv', index_col='building_id')

# Create a DataFrame for our predictions with the correct column names and index
my_submission = pd.DataFrame(data=predictions, columns=submission_format.columns, index=submission_format.index)

# Save the submission DataFrame to a CSV file
my_submission.to_csv('submission.csv')

# Display the head of the saved file
my_submission.head()

             damage_grade
building_id
300051                  2
99355                   2
890251                  2
745817                  1
421793                  3

In [43]:
my_submission.to_csv('submission.csv')

In [44]:
!head submission.csv

building_id,damage_grade
300051,2
99355,2
890251,2
745817,1
421793,3
871976,3
691228,1
896100,3
343471,2